# Banco de dados
DB_USER=studio_fluir_user
DB_PASSWORD=sua_senha_aqui

# Django
SECRET_KEY=sua_secret_key_aqui
DEBUG=False
ALLOWED_HOSTS=nostudiofluir.com.br,www.nostudiofluir.com.br

# CORS
CORS_ALLOWED_ORIGINS=https://nostudiofluir.com.br,https://www.nostudiofluir.com.br
